html {
	height: 100%;
	font: 14px 'Calibri', cursive;
	color: #1725a1;
	line-height: 45px;
}

body{
	margin: 5px;
}

.jumbotron {
	width: 400px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

h1, p, h3{
	margin: 0;
}


a {
	text-decoration: none;
}

.margin {
	margin-top: 10px;
	margin-bottom: 10px;
}

.marginList{
	margin-top: 30px;
}

/* Risca de vermelho tarefas concluídas*/
.done {
	position: relative;
}
.done:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 100%;
	height: 2px;
	background-color: #e14040;
	transition: .2s .2s;
}
.done-true:after {
	right: 0;
}